<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>About Us</title>
  </head>
  <body>
    <header>
      <h1>About State Dispatchers</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h2>About US</h2>
        <p>
          State Dispatchers was founded in 2022 in IL; furthermore, its founders
          have 18-year working experience in Logistics and Finance markets of
          the USA and Canada. The aim of the company is to make the drivers’
          life easier when they are on the road and help them solve recurring
          issues that are connected with cargo transportation, paperwork and its
          processing, and getting paid on time..
        </p>
        <h2>About Team</h2>
        <p>
          Today our company has over 8 experienced Dispatchers that are split
          into mini-teams. Such a working model allows them to cooperate
          efficiently within the team, providing quick response to personal
          requests of our clients and keeping top quality
        </p>
        <h2>About Clients</h2>
        <p>
          Our clients are drivers / owners of trucks or small / medium trucking
          companies in the USA. <br />
          We help our clients find better loads, negotiate about the best cost,
          ease the pain with paperwork and provide good customer support. <br />
          It allows truck owner operators to concentrate on the road and not get
          distracted by dealing with recurring issues and questions that need to
          be solved.
        </p>
      </section>
    </main>
    <footer>
      <p>© 2024 State Dispatchers</p>
    </footer>
  </body>
</html>
